body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
header {
    background-color: #f5c518;
    height: 70px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo a {
    font-weight: bold;
    font-size: 28px;
    color: #333;
    text-decoration: none;
}  
nav ul {
    display: flex;
    list-style: none;
}
nav li {
    margin-left: 20px;
}
nav a { 
    font-size: 16px; color: #333; text-decoration: none; 
}
nav a:hover { 
    text-decoration: underline; }

main { 
    padding: 40px 0; 
}
.container { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}
.film-info { 
    display: flex; 
    align-items: center; 
}
.film-poster { 
    flex: 1; 
}
.film-poster img { 
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.film-details { 
    flex: 2; 
    margin-left: 60px; 
}
.film-title { 
    font-size: 48px; 
    font-weight: bold; 
    margin-bottom: 10px; 
}
.film-rating { 
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; }
.rating-icon { 
    color: #f5c518; 
    font-size: 24px; 
    margin-right: 5px; 
}
.rating-value { 
    font-size: 24px; 
    font-weight: bold; 
}
.film-genres { 
    margin-bottom: 20px; 
}
.film-summary { 
    font-size: 18px; 
    margin-bottom: 20px; 
}
.film-details-list { 
    font-size: 16px; 
    margin-bottom: 20px; 
}
.film-details-list ul { 
    list-style: none; 
}
.film-details-list li { 
    margin-bottom: 10px; 
}
.film-details-list li strong { 
    font-weight: bold; 
    margin-right: 5px; 
}
footer { 
    background-color: #333; 
    color: #fff; 
    height: 70px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
footer p { 
    font-size: 14px; 
    text-align: center; 
}
footer a { 
    color: #fff; 
    text-decoration: none; 
}
footer a:hover { 
    text-decoration: underline; 
}
.carousel-img {
    height: 500px;
    object-fit: cover;
  }
